<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${post.title}">Post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<article>
    <header>
        <h1 th:text="${post.title}">Post title</h1>
        <p>
            <small>
                <span>By </span><span th:text="${post.authorUsername}">author</span>
                <span> • </span>
                <span th:if="${post.publishedAt != null}" th:text="${#temporals.format(post.publishedAt, 'yyyy-MM-dd HH:mm')}"/>
            </small>
        </p>
        <p>
            <span th:text="${post.categoryName}">Category</span>
            <span> • </span>
            <span th:each="t : ${post.tagNames}" th:text="${t}" th:append=","/>
        </p>
    </header>
    <section>
        <div th:utext="${post.content}">Post content</div>
    </section>
</article>
</body>
</html>
